<!-- <ion-list>
  <ion-list-header><b>Service Requestor Package </b></ion-list-header>
 
 <ul>
   <il>
    You can request a delivery for an item or more / Reach a place as a passenger by Taxi
    Mandoob  Package 
   </il>
   <il>
    You can search /find items delivery request
   </il>
 </ul>     
    
   
</ion-list> -->
<ion-list>
  
<h4>Service Requestor Package</h4>

<ul>
  <li>You can request a delivery for an item or more / Reach a place as a passenger by Taxi
    Mandoob  Package </li>
    <br>
  <li>You can search /find items delivery request</li>
  
</ul>  

</ion-list>
