
.welcome_language_page{

    margin: 0 !important;
    padding: 0 !important;
    --ion-background-color:#353535;
    
} 
.contant {
    text-align: center;
    margin: auto;
    margin-top: 30% !important;
}

.welcome_language_page  img{
height: 250px  !important;
width: 330px  !important;
margin-bottom: 60px  !important; 

} 

.contant ion-button{
    width: 30%;
}

