.PaymentSucess{
    margin: 0 !important;
    padding: 0 !important;
    --ion-background-color:#353535;
    text-align: center;
}

.PaymentSucess ion-icon{ 
    font-size: 170px;
    margin-bottom: 15px;
  
    margin-top: 15%;
}


.PaymentSucess div{ 

    color: #F3E834;
    
    
}


.PaymentSucess div h1 , .PaymentSucess h4  { 
    padding-bottom: 15px;   
}
