<ion-header class="Signin_header ion-no-border">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button color="secondary" defaultHref="welcome-language"></ion-back-button>
    </ion-buttons>
    <ion-title  color="secondary" > {{'Sign In'|translate}}</ion-title>
  </ion-toolbar>
  <div>
    <img src="../../../assets/icon/logo.png" alt="">
  </div>
</ion-header>
<ion-content  class="Signin_content">

  <ion-list>
     

    <ion-item lines="none">
      <ion-icon slot="start"  name="mail"></ion-icon>
      <ion-input type="text" [(ngModel)]="loginDetails.email" [placeholder]="'Email Address'|translate"></ion-input>
    </ion-item> 

    <ion-item lines="none">
      <ion-icon slot="start"  name="lock-closed"></ion-icon>
      <ion-input type="password" [(ngModel)]="loginDetails.password" [placeholder]="'password'|translate"></ion-input>
    </ion-item> 

    </ion-list>
    
  <div class="btn_div" >
    
    <ion-button (click)="SignInClick()"   size="default" expand="block"  shape="round">
      {{'Sign In'|translate}}
    </ion-button>

    <ion-button [routerLink]="['/sign-up']" size="default"  expand="block" fill="outline" shape="round">
      {{'Sign Up'|translate}} 
    </ion-button>

    <ion-button (click)="forgotpassword()" size="default"  expand="block" fill="clear"   shape="round">
      {{'forgot password'|translate}}
    </ion-button>

  </div>
    

</ion-content>