.additem_header{

    margin: 0 !important;
    padding: 0 !important;
    --ion-background-color:#353535;
}
 

.additem_content {

    --ion-background-color:#ffffff;
    margin: 0 !important;
    padding: 0 !important;

}


.additem_content div{
   
    margin: 15px;
}

.additem_content  h3{
    margin-bottom: 30px;

}
.additem_content div div ion-icon{
    font-size: 150px;
    background-color: #faf5a7;
    padding: 0 100px;
    border: 4px solid #353535;
    border-radius: 15px;
}

.additem_content  ion-list ion-label{
    font-size: 20px;
    margin-top: 5px;

}

.additem_content ion-list ion-radio-group ion-row ion-label{
    font-size: 18px;
    margin-top: 5px;

}
  

.additem_content ion-card{
 
    border: 3px solid #353535;
    border-radius: 15px;
     
}

.additem_content ion-card ion-col{
  
    font-size: 16px;
}


ion-icon {
    font-size: 25px;
    opacity: 0.8;
  }

.additem_footer ion-button {
    margin: 20px;
    
}
.uploadIMG{
    height: 160px;
    width: 90%;
    border: 3px solid #353535 ;
    border-radius: 15px; 
}

 
.add-img {
    margin: 0 !important;
    padding: 0;
    width: 100%;
    background-color: #353535;

    border-radius:  0  0 20px  20px ;

    
}
.add-img img{
    height: 100px;
    width: 40%;
    margin-left: 30% !important;
    border: 0px solid #353535;
    object-fit:contain;

}