.all-Packages_header{

    margin: 0 !important;
    padding: 0 !important;
    --ion-background-color:#353535;
}
 

.all-Packages_content {

    --ion-background-color:#ffffff;
    margin: 0 !important;
    padding: 0 !important;

}


.all-Packages_content {
 
}
.all-Packages_content ion-card{
 
    border: 3px solid #353535;
    border-radius: 15px;
     
}

.all-Packages_content ion-card ion-col{
  
    font-size: 16px;
}


ion-icon {
    font-size: 25px;
    opacity: 0.8;
  }

.all-Packages_footer ion-button {
    margin: 20px;
    
}

 .My_package_card ion-label{
    display: block;
    margin: 0 20px;
    font-size: medium;
    color: #353535;

 }

 .My_package_card img{
    border: 1px solid #353535;
    border-radius: 5px;
    height: 100%;
    width: 100%;
 }

 .My_package_card{

    
}
.noitem{
    margin-top: 20%;

    text-align: center;
    font-weight: bolder;
    color: gray;
    font-size: larger;

}