.mylocation{
    height: 15%;
    width: 90%;
    background-color: #aaa9a9;
    border-radius: 20px;
    padding: 10px;


    position: absolute;
    margin: auto;
    // top: 0;
    bottom: 10%;
    right: 0;
    left: 0;
}