<ion-header class="Terms_conditions_header ion-no-border">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title  color="secondary" >{{'Terms and Conditions'|translate}}</ion-title>
  </ion-toolbar>
  <div>
    <img src="../../../assets/icon/logo.png" alt="">
  </div>
</ion-header>
<ion-content  class="Terms_condition_content">

 <h2> {{'Terms and Conditions'|translate}} </h2>
    
  <div class="Term_condition_label" >
    <ion-label> {{applang == 'ar' ? termsandcondition_ar : termsandcondition_en }}  </ion-label>
   <br><br>
   
  </div>
    

</ion-content>
